@font-face{
    font-family: "Tinos-Regular";
    src: url(fonts/Tinos-Regular.ttf);
}

body {
    margin: 0%;
    padding: 0%;
    line-height: 20px;
    font-family: "Tinos-Regular";
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 88px 1fr 72px;
}

a{
    text-decoration: none;
    color: rgb(248, 162, 70);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0px 100px;
    height: max-content;
}

.logo{
    width: 150px;
    height: 120px;
}

.ul_header{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.nav_p{
    font-size: x-large;   
}

.main_div{
    margin-top: 30px;
    background-image: url(img/main_back.jpg);
    background-repeat: no-repeat;
    height: 867px;
    display: flex;    
}

.main_p{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    gap: 20px; 
    color: rgb(255, 106, 43);
    text-align: center;
    margin-left: 100px;
    font-size: 33px; 
}

.h1{
    line-height: 55px;
}

.name_restaurant{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 45px;
}

.hr{
    width: 50px;
}

.button_menu{
    background-color: rgb(255, 106, 43);
    color: white;
    border-radius: 15px;
    padding: 20px;
    font-weight: bold;
    font-size: large;
    width: max-content;
}

.advantages{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    vertical-align: top;
    margin: 50px 0px;
}

.advantage{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(188, 144,96);
    border-radius: 5px;
    background-color: white ;
    text-align: center;
    padding: 25px 40px 5px 40px;
}

.advantage_main{
    font-size: large;
    color: rgb(188, 144,96);
}

.advantage_p{
    color: rgb(82, 82, 82);
}

.advantages_img{
    height: 100px;
    width: 100px;
}

.our_story{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.left_story{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.story_img{
    height: 400px;
    width: 400px;
}