@font-face{
    font-family: "Tinos-Regular";
    src: url(fonts/Tinos-Regular.ttf);
}

body {
    width: 100%;
    margin: 0%;
    padding: 0%;
    line-height: 25px;
    font-family: "Tinos-Regular";
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 88px 1fr 72px;
}

.a_nav{
    text-decoration: none;
    color: rgb(252, 130, 37);
    transition: 0.2s;
}

.a_nav:hover{
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;    
    padding: 0px 70px;
    height: max-content;
}

.logo{
    width: 150px;
    height: 120px;
}

.ul_header{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 55px;
}

.nav_p{
    font-size: 30px;   
}

main{
    margin-top: 30px;
}

.main_div{
    background-image: url(img/back_main.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1084px;
    display: flex;    
}

.main_p{
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    gap: 10px; 
    color: rgb(252, 130, 37);
    text-align: center;
    margin-left: 125px;
    font-size: 55px; 
}

.h1{
    line-height: 90px;
}

.name_restaurant{
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    font-size: 57px;
}

.hr_name{
    width: 150px;
    height: 2px;
    border: 2px solid white;
    background-color: rgb(252, 130, 37);
}

.button_menu{
    background-color: rgb(255, 106, 43);
    color: white;
    border-radius: 10px;
    padding: 20px 30px;
    font-weight: bold;
    font-size: 23px;
    width: max-content;
    transition: 0.5s;
}

.button_menu:hover{
    background-color:rgb(253, 116, 57);
    color: black;
}

.advantages{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    vertical-align: top;
}

.advantage{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(188, 144,96);
    box-shadow: 10px 10px 40px 20px #0000001A;
    margin-top: -170px;
    border-radius: 10px;
    background-color: white ;
    text-align: center;
    padding: 30px 40px 10px 40px;
}

.advantage_main{
    font-size: 25px;
    color: rgb(188, 144,96);
}

.advantage_p{
    color: rgb(82, 82, 82);
    font-size: 21px;
}

.advantages_img{
    height: 140px;
    width: 140px;
}

.our_story{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
    padding: 0px 125px;
    gap: 50px;
}

.left_story{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.story_h{
    color: rgb(188, 144,96);
    font-size: 60px;
}

.story_p{
    color: rgb(82, 82, 82);
    font-size: 27px;
    line-height: 32px;
}

.right_story{
    display: flex;
    align-items: center;
    justify-content: center;
}

.story_img{
    height: 580px;
    width: 620px;
}

.discount{
    background-image: url(img/discount_back.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    padding: 40px 125px;
    gap: 50px;
}

.left_discount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.discount_h{
    color: rgb(252, 130, 37);
    letter-spacing: 2px;
    font-size: 60px;
    line-height: 60px;
    margin: 0%;
}

.discount_p{
    color: white;
    font-size: 30px;
}

.right_discount{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_delivery{
    background-color: rgb(255, 106, 43);
    color: white;
    border-radius: 10px;
    padding: 20px 30px;
    font-weight: bold;
    font-size: 25px;
    width: max-content;
    transition: 0.5s;
}

.button_delivery:hover{
    background-color:rgb(253, 116, 57);
    color: black;
}

.our_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
}

.menu_h{
    color: rgb(188, 144,96);
    letter-spacing: 2px;
    font-size: 70px;
}

.menu{
    height: 1500px;
    width: 1300px;
    box-shadow: 10px 10px 40px 20px #0000001A;
    border-radius: 5px;
}

.delivery_menu{
    background-image: url(img/back_menu.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    gap: 50px;
}

.delivery_h{
    margin-top: 100px;
    color: rgb(252, 130, 37);
    letter-spacing: 3px;
    font-size: 65px;
}

.foods{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    vertical-align: top;
    padding: 0px 50px 100px 50px;
    gap: 100px;
}

.food{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(210, 209, 209);
    box-shadow: 10px 10px 40px 20px #7776761a;
    border-radius: 10px;
    gap: 15px;
    padding: 15px 35px;
}

.img_food{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px 20px #0000001a;
    border: 1px solid black;
}

.food_h{
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 1px;
    margin: 0%;
    color: rgb(252, 130, 37);
    text-align: center;
    font-weight: 500;
    font-family: serif;
}

.price_menu{
    font-weight: 700;
    font-size: 27px;
    letter-spacing: 1px;
    margin: 0%;
}

.lowprice_div{
    display: flex;
    gap: 15px;
    width: max-content;
    padding-right: 55px;
}

.strike{
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 20px;
}

.lowprice_menu{
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 1px;
    margin: 0%;
    color: red;
}

.button_menu_delivery{
    background-color: rgb(255, 106, 43);
    border-radius: 8px;
    color: white;
    padding: 20px 25px;
    font-weight: bold;
    font-size: 18px;
    width: max-content;
    transition: 0.5s;
}

.button_menu_delivery:hover{
    background-color:rgb(253, 116, 57);
    color: black;
}

.slider{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider_line{
    width: 300%;
    display: flex;
    transition: 1s;
}

.sliders{
 width: 100%;
}

.feedback_one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 0px 60px 0px;
}

.feedback_h1{
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 50px;
}

.img_profile1{
    width: 110px;
    height: 109px;
    border-radius: 100%;
    box-shadow: 10px 10px 40px 20px #0000001A;
}

.feedback_p1{
    font-size: 26px;
    color: rgb(82, 82, 82);
    margin-bottom: 0%;
}

.feedback_name1{
    font-size: 26px;
    color: rgb(82, 82, 82);
}

.feedback_two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 0px 60px 0px;
}

.feedback_h2{
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 50px;
}

.img_profile2{
    width: 110px;
    height: 109px;
    border-radius: 100%;
    box-shadow: 10px 10px 40px 20px #0000001A;
}

.feedback_p2{
    font-size: 26px;
    color: rgb(82, 82, 82);
    margin-bottom: 0%;
}

.feedback_name2{
    font-size: 26px;
    color: rgb(82, 82, 82);
}

.feedback_three{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 0px 60px 0px;
}

.feedback_h3{
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 50px;
}

.img_profile3{
    width: 110px;
    height: 109px;
    border-radius: 100%;
    box-shadow: 10px 10px 40px 20px #0000001A;
}

.feedback_p3{
    font-size: 26px;
    color: rgb(82, 82, 82);
    margin-bottom: 0%;
}

.feedback_name3{
    font-size: 26px;
    color: rgb(82, 82, 82);
}

.slider_button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.slider_left{
    padding: 15px 15px 15px 25px;
    transform: translateY(-50%) rotate(180deg);
    font-size: 33px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 106, 43);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    line-height: 1;
}

.slider_right{
    padding: 15px 15px 15px 25px;
    transform: translateY(-50%);
    font-size: 33px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 106, 43);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    line-height: 1;
}

.slider_left:hover, .slider_right:hover {
    cursor: pointer;
    background-color: rgb(253, 116, 57);
    color: black;
}

.imges_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(210, 209, 209);
    height: max-content;
    padding: 70px 0px 80px 0px;
    gap: 90px;
}

.imges_h{
    margin: 0%;
    color: rgb(188, 144,96);
    letter-spacing: 2px;
    font-size: 75px;
}

.imges_rest{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 110px;
}

.img_rest{
    height: 420px;
    width: 520px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px 20px #0000001A;

}

.forma{
    display: flex;
    padding: 80px 55px 50px 55px;
    justify-content: space-between;
}

.left_form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

.form_h{
    color: rgb(188, 144,96);
    font-size: 85px;
    line-height: 85px;
    letter-spacing: 4px;
    margin: 0%;
}

.form_p{
    color: rgb(82, 82, 82);
    font-size: 38px;
    line-height: 38px;
}

.right_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
}

.form_i{
    font-size: 30px;
    margin: 5px;
    color: rgb(82, 82, 82);
}

.input_name{
    width: 200px;
    border-radius: 3px;
    font-size: 20px;
    margin: 5px 5px 25px 5px;
    padding: 5px;
    border: 1px solid black;
    background-color: rgba(188, 144, 96, 0.51) 
}

.input_massage{
    resize: none;
    border-radius: 5px;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    background-color: rgba(188, 144, 96, 0.51);
    vertical-align: top;
    height: 210px;
    width: 660px;
}

.button_form{
    background-color: rgb(255, 106, 43);
    color: white;
    border-radius: 10px;
    margin: 30px 0px 0px 485px;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 24px;
    width: max-content;
    transition: 0.5s;
}

.button_form:hover{
    background-color:rgb(253, 116, 57);
    color: black;
}

.all_footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: max-content;
    margin-top: 0px;
    padding: 0px 50px;
}

.top_footer{
    display: flex;
    justify-content: space-between;
    height: max-content;
    margin-bottom: 15px;
}

.footer_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.top_fot_h{
    color: rgb(252, 130, 37);
    margin: 0%;
    margin-bottom: 20px;
    font-size: 25px;
}

.top_fot_p{
    color: rgb(252, 130, 37);
    margin: 0%;
    font-size: 22px;
}

.hr_footer{
    width: 100%;
}

.fot_copyright{
    color: white;
    text-align: center;
    font-size: 20px;
}

.shopping_cart{
    background-image: url(img/shopping_cart.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 1500px;
}